.dashboard-page {
    width: 100%;

    padding: 40px 6%;

    background: #080808;

    min-height: calc(100vh - 72px);
}


.dashboard-grid {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 18px;
}


.dashboard-number {
    margin-top: 10px;

    color: #ffffff;

    font-size: 32px;

    font-weight: 800;

    letter-spacing: -1px;
}


@media (max-width: 1000px) {

    .dashboard-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

}


@media (max-width: 600px) {

    .dashboard-page {
        padding: 30px 20px;
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
    }

}